/* App.css */

.swiper-container {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px; /* Width of the individual image slide */
  height: 400px; /* Height of the individual image slide */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures images fit well */
}

.mySwiper {
  margin: auto; /* Center the entire swiper container */
}

.swiper-pagination-bullet {
  background-color: green; /* Change pagination bullet color */
}

.swiper-button-next,
.swiper-button-prev {
  color: #000; /* Change the navigation arrow color */
}
